<div class="navbar">
    <div class="navbar-inner">
        <div class="left sliding">
            <a href="#" class="back link">
                <i class="icon icon-back"></i>
                <span>后退</span>
            </a>
        </div>
        <div class="right contact-edit-link">
            <a href="#" class="link icon-only">
                <i class="icon ion-compose"></i>
            </a>
        </div>
    </div>
</div>
<div class="pages">
    <div class="page page-meeting" data-page="meeting" data-folder="OA">
        <div class="page-content">
            <link rel="stylesheet" href="css/OA/meeting.css">
            <form>
                <div class="item">
                    <div class="item-label">js框架：</div>
                    <div class="item-content">
                        <input type="text" id="selectBtn" placeholder="请选择框架" readonly />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
