<div class="navbar">
    <div class="navbar-inner">
        <div class="left sliding">
            <a href="#" class="back link">
                <i class="icon icon-back"></i>
                <span>后退</span>
            </a>
        </div>
        <div class="right contact-edit-link">
            <a href="#" class="link icon-only">
                <i class="icon ion-compose"></i>
            </a>
        </div>
    </div>
</div>
<div class="pages">
    <div class="page page-production" data-page="production" data-folder="MES">
        <link rel="stylesheet" href="css/MES/production.css">
        this is production page.
    </div>
</div>
