@charset "UTF-8";
@import "reset";
@import "../utils/variables";
@import "../utils/function";
@import "../utils/mixin";

/* PC端适配方案 */
/*@media only screen and (min-width: 1024px) {
  html{font-size: 12px}
}
@media only screen and (min-width: 1440px) {
  html{font-size: 14px}
}
@media only screen and (min-width: 1680px) {
  html{font-size: 14px}
}
@media only screen and (min-width: 1920px) {
  html{font-size: 16px}
}

html,body{font-family: 'Microsoft YaHei', Arial, 'Helvetica Neue', 'SimSun'}
body{font-size:1rem}*/


/* 移动端适配方案 */
@media only screen and (min-width: 320px) {
  html{ font-size:17.0666px}
}
@media only screen and (min-width: 375px){
  html{font-size: 20px}
}
@media only screen and (min-width: 414px) {
  html{font-size: 22.08px}
}
@media only screen and (min-width: 475px) {
  html{font-size: 25.3333px}
}
@media only screen and (min-width: 768px) {
  html{font-size: 40.96px}
}
@media only screen and (min-width: 960px) {
  html{font-size: 51.2px}
}

/* 移动端1px解决方案：transform缩放+after伪类 */
.border-1px{
  @include border-1px;
}
@media (min-device-pixel-ratio: 1.5),(-webkit-min-device-pixel-ratio: 1.5) {
  .border-1px{
    &:after{
      -webkit-transform: scaleY(0.7);
      -moz-transform: scaleY(0.7);
      -ms-transform: scaleY(0.7);
      -o-transform: scaleY(0.7);
      transform: scaleY(0.7);
    }
  }
}
@media (min-device-pixel-ratio: 2),(-webkit-min-device-pixel-ratio: 2){
  .border-1px{
    &:after{
      -webkit-transform: scaleY(0.5);
      -moz-transform: scaleY(0.5);
      -ms-transform: scaleY(0.5);
      -o-transform: scaleY(0.5);
      transform: scaleY(0.5);
    }
  }
}

/* 按钮样式 */
.btn{
  padding:10px 20px;
  color: $btnColor;
  @include border-radius;
}

.btn.btn-base{
    @extend .btn;
    background: $btnBgcolor;
    border: 1px solid $btnBorderColor;
    &:hover{
      background: $btnBgcolorHover;
    }
}

.btn.btn-success{
    @extend .btn;
    background: $btnBgcolorSuccess;
    border:1px solid $btnBorderColorSuccess;
    &:hover{
      background: $btnBgcolorHoverSuccess;
    }
}

.btn.btn-error{
    @extend .btn;
    background: $btnBgcolorError;
    border:1px solid $btnBorderColorError;
    &:hover{
      background: $btnBgcolorHoverError;
    }
}



