@charset "UTF-8";
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
hgroup,
h1,
h2,
h3,
h4,
h5,
h6,
p,
form,
fieldset,
legend,
input,
textarea,
table,
thead,
tbody,
tfoot,
tr,
th,
td,
pre,
code,
blockquote,
header,
footer,
nav,
section,
article,
aside,
title,
figure,
figcaption,
datalist,
details,
summary,
dialog,
address {
  margin: 0;
  padding: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
fieldset,
img {
  border: 0;
}
legend {
  color: #000000;
}
ol,
ul {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}
th,
address,
cite,
code,
dfn,
var,
em,
strong {
  font-style: normal;
  font-weight: normal;
}
input[type="text"],
input[type="button"],
input[type="submit"],
input[type="reset"],
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  *font-size: 100%;
  font-weight: inherit;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-user-modify: read-write-plaintext-only;
}
input,
input:focus {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-user-modify: read-write-plaintext-only;
}
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
::-webkit-scrollbar {
  display: none;
}
a {
  text-decoration: none;
}
a:focus {
  outline: none;
}
.clearfix {
  *zoom: 1;
}
.clearfix:after {
  display: block;
  content: '\200B';
  height: 0;
  clear: both;
}
