@charset "UTF-8";
$baseFontFamily: 'Microsoft YaHei','PingFang SC Medium',Arial,'Helvetica Neue','SimSun';
$baseFontColor: #1a1a1a;
$colorBlack: #000;
$colorGray99: #999999;
$colorGray89: #898989;
$colorGray66: #666666;
$colorGray33: #333333;
$colorWhite: #fff;
$colorBlue: #00aaff;
$colorGreen: #0ca021;
$colorRed: #ff3434;
$colorOrange: #fe5000;